@import "./layouts/index.css";

.reveal {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: none !important;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    pre.mermaid {
        box-shadow: none;
    }
}
